.activity-nav {
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 20%;
}

.activity-navbar {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  font-weight: bold;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.15);
}

.activity-navbar .link {
  width: 50%;
  padding: 1rem;
  height: auto;
  color: rgb(0, 0, 0);
}

.activity-navbar .link:active {
  padding: 1rem;
  height: auto;
  color: rgb(0, 0, 0);
}
