.news {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 400px 400px 400px 400px;
  column-gap: 50px;
  row-gap: 50px;
  align-items: start;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 1.5rem;
  justify-content: space-between;
  overflow: scroll;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.news-wrapper {
  width: 350px;
  height: 400px;
}
