header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.empty {
  height: auto;
  width: 50%;
}

.first-page {
  height: auto;
  width: 80%;
  margin: 5rem;
}

.info {
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info h1 {
  font-size: 30px;
  color: white;
  text-align: center;
}

.info h4 {
  font-size: 20px;
  color: white;
  font-weight: 400;
  height: 30%;
  width: 100%;
  margin: 4rem;
  text-align: center;
}

.log-in-btn {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 30px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  touch-action: manipulation;
  margin-top: 1rem;
}

.log-in:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.login-page {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.login-form {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 0.5rem 1rem;
  justify-items: center;
}

.input {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 1rem;
}

.input input {
  padding: 12px 20px;
  font-size: 2.5vh;
  border-width: calc(var(--border-width) * 1px);
  border-style: solid;
  border-color: var(--accent);
  border-radius: 10px;
  text-align: center;
  outline: transparent;
  width: 100%;
}

.input label {
  font-size: 15px;
  color: white;
  text-align: center;
  margin-bottom: 0.5rem;
}

.register-link {
  font-size: 15px;
  color: white;
  text-align: center;
  margin: 0.5rem;
}
