.add-article-modal {
  position: fixed;
  width: 900px;
  height: 600px;
  z-index: 1040;
  top: 10%;
  left: 30%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.article-modal-header {
  border-bottom: 1px solid #e9ecef;
  display: flex;
  justify-content: space-between;
  background-color: rgb(17, 20, 48);
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 20px;
}

.article-modal-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  height: 75%;
}

.article-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.article-input {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 1rem;
  width: 90%;
}

.article-input input {
  padding: 12px 20px;
  font-size: 2.5vh;
  border-width: calc(var(--border-width) * 1px);
  border-style: solid;
  border-color: rgb(17, 20, 48);
  border-radius: 10px;
  text-align: center;
  outline: transparent;
  width: 100%;
}

.article-input textarea {
  padding: 12px 20px;
  font-size: 2.5vh;
  border-width: calc(var(--border-width) * 1px);
  border-style: solid;
  border-color: rgb(17, 20, 48);
  border-radius: 10px;
  text-align: center;
  outline: transparent;
  width: 100%;
  min-width: 100%;
  min-height: 90px;
  max-width: 100%;
}

.article-modal-footer {
  border-top: 1px solid #e9ecef;
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  padding-right: 20px;
  height: fit-content;
}
