.article-description {
  padding: 1rem;
  color: rgb(17, 20, 48);
  font-weight: 600;
}

.article-modal {
  position: fixed;
  width: 900px;
  height: 600px;
  z-index: 1040;
  top: 10%;
  left: 30%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.7);
}
