.activities-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
  min-height: 50%;
  margin: 1rem;
}

.activities {
  width: 100%;
  min-height: 100%;
}
