.modal-change {
  position: fixed;
  width: 700px;
  z-index: 1040;
  top: 35%;
  left: 40%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.7);
}

.modal-change-header {
  border-bottom: 1px solid #e9ecef;
  display: flex;
  justify-content: space-between;
  background-color: rgb(72, 77, 121);
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 20px;
}

.secondary-button-change {
  background-color: rgb(72, 77, 121);
  border: 1px solid rgb(72, 77, 121);

  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 30px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  touch-action: manipulation;
  margin: 0.5rem;
}

.primary-button-change {
  background-color: rgb(72, 77, 121);
  border: 1px solid rgb(72, 77, 121);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  touch-action: manipulation;
  padding: 15px 30px;
  margin: 0.5rem;
}
