.main-footprint {
  background: #5e8075;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  margin: 1rem;
  margin-top: 2rem;
}

.main-footprint h1 {
  font-size: 25px;
  color: white;
  text-align: start;
  margin: 1rem;
  width: 60%;
}

.carbon-footprint-goal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carbon-footprint-goal h3 {
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 1rem;
}

.carbon-footprint-goal button {
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 30px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  touch-action: manipulation;
  margin: 1rem;
}
