.empty {
  height: auto;
  width: 50%;
  margin: 5rem;
}

.first-page {
  height: auto;
  width: 80%;
  margin: 5rem;
}

.info {
  height: auto;
  width: 50%;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info h1 {
  font-size: 30px;
  color: white;
  text-align: center;
}

.info h4 {
  font-size: 20px;
  color: white;
  font-weight: 400;
  height: 30%;
  width: 100%;
  margin: 4rem;
  text-align: center;
}

.buttons {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30%;
}

.log-in {
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 30px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  touch-action: manipulation;
}

.log-in:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.sign-up {
  background-color: #031f1a;
  border: 1px solid #031f1a;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 30px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  touch-action: manipulation;
}

.sign-up:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.empty-page {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
