.news-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 1.5rem;
}

.news {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 400px 400px 400px 400px;
  column-gap: 50px;
  row-gap: 50px;
  align-items: start;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  overflow: scroll;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.news-wrapper {
  width: 350px;
  height: 400px;
}

.news-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.news-label {
  margin: 1rem;
  color: black;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.news-header button {
  background-color: rgb(17, 20, 48);
  border: 1px solid rgb(17, 20, 48);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 30px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  touch-action: manipulation;
  margin: 1rem;
}
