.goal {
  box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  height: 50px;
  margin: 1rem;
}

.goal h3 {
  color: rgb(25, 25, 25);
  margin: 1rem;
  text-overflow: ellipsis;
  font-size: 15px;
}

.edit-goal-buttons {
  margin-right: 1rem;
}
