.modal {
  position: fixed;
  width: 700px;
  z-index: 1040;
  top: 35%;
  left: 40%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: fixed;
  width: 400px;
  z-index: 1040;
  top: 45%;
  left: 45%;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.7);
}

.backdrop {
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
}

.modal-title {
  font-weight: 500;
  font-size: 1rem;
}

.modal-header {
  border-bottom: 1px solid #e9ecef;
  display: flex;
  justify-content: space-between;
  background-color: rgb(17, 20, 48);
  border-radius: 10px 10px 0 0;
  color: white;
}

.modal-desc {
  height: 40%;
}

.modal-desc,
.modal-header {
  padding: 20px;
}

.modal-footer {
  padding: 8px;
  padding-right: 20px;
}

.close-button {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.modal-footer {
  border-top: 1px solid #e9ecef;
  display: flex;
  justify-content: flex-end;
}

.secondary-button {
  background-color: rgb(17, 20, 48);
  border: 1px solid rgb(17, 20, 48);

  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 30px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  touch-action: manipulation;
  margin: 0.5rem;
}

.modal-example {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-desc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footprint-input {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 1rem;
  width: 30%;
}

.footprint-input-single {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 1rem;
  width: 80%;
}

.footprint-input-single input {
  padding: 12px 20px;
  font-size: 2.5vh;
  border-width: calc(var(--border-width) * 1px);
  border-style: solid;
  border-color: rgb(17, 20, 48);
  border-radius: 10px;
  text-align: center;
  outline: transparent;
  width: 100%;
}

.footprint-input input {
  padding: 12px 20px;
  font-size: 2.5vh;
  border-width: calc(var(--border-width) * 1px);
  border-style: solid;
  border-color: rgb(17, 20, 48);
  border-radius: 10px;
  text-align: center;
  outline: transparent;
  width: 100%;
}

.footprint-input select {
  padding: 12px 20px;
  font-size: 2.5vh;
  border-width: calc(var(--border-width) * 1px);
  border-style: solid;
  border-color: rgb(17, 20, 48);
  border-radius: 10px;
  text-align: center;
  outline: transparent;
  width: 100%;
}

.footprint-input label {
  font-size: 15px;
  color: rgb(17, 20, 48);
  text-align: center;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.primary-button {
  background-color: rgb(17, 20, 48);
  border: 1px solid rgb(17, 20, 48);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  touch-action: manipulation;
  padding: 15px 30px;
  margin: 0.5rem;
}
